@using RG_Store.BLL.ModelVM.ItemVM
@model List<GetAllItemVM>
@{
    ViewData["Title"] = "Home";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="toast-container position-fixed p-3" style="top: 0; left: 0; z-index: 1050;">
        <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            var toastEl = document.getElementById('successToast');
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        };
    </script>
}

<h1>Home</h1>

<section class="bg-position-top-center bg-repeat-0 pt-5" style="background-image: url(~/images/hero-bg.png); background-size: 1920px 630px;">
    <div class="container pt-5">
        <div class="row pt-lg-4 pt-xl-5">
            <div class="col-lg-4 col-md-5 pt-3 pt-md-4 pt-lg-5">
                <h1 class="display-4 text-light pb-2 mb-4 me-md-n5">Enjoy Latest Games Released</h1>
                <p class="fs-lg text-light opacity-70">Order, Pay, Enjoy your favourite Games</p>
            </div>
            <div class="col-lg-8 col-md-7 pt-md-4 pt-lg-5" style="margin-left: -50px; margin-top: -50px;">
                <img class="d-block mt-2 ms-auto" src="~/images/Crash.png" width="400" height="200" alt="Car">
            </div>
        </div>
    </div>
    <div class="container mt-4 mt-sm-3 mt-lg-n3 pb-5 mb-md-4">
        <form class="form-group form-group-light d-block">
            <div class="row g-0 ms-lg-n2">
                <div class="col-lg-2">
                    <div class="input-group border-end-lg border-light">
                        <span class="input-group-text text-muted ps-2 ps-sm-3"><i class="fi-search"></i></span>
                        <input class="form-control" id="searchBox" type="text" placeholder="Search for games..." onkeyup="filterItems()">
                    </div>
                </div>
                <hr class="hr-light d-lg-none my-2">
                <div class="col">
                    <div class="dropdown border-end-sm border-light" data-bs-toggle="select">
                        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
                            <i class="fi-list me-2"></i><span class="dropdown-toggle-label">Genre</span>
                        </button>
                        <input type="hidden" name="make">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Racing</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Shooting</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Sports</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">RPG</span></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-light d-sm-none my-2">
                <div class="col">
                    <div class="dropdown border-end-md border-light" data-bs-toggle="select">
                        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
                            <i class="fi-list me-2"></i><span class="dropdown-toggle-label">Price</span>
                        </button>
                        <input type="hidden" name="model">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 2000</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 1500</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 1000</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 500</span></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-light d-md-none my-2">
                <div class="col">
                    <button class="btn btn-primary w-100 makeMeOrangeBG" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="container pb-5 mb-md-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
        <h2 class="h3 text-light mb-2 mb-sm-0">Offers</h2><a class="btn btn-link btn-light fw-normal px-0 myHover" asp-controller="item" asp-action="index">Go to Store<i class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
    </div>
    <form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-md-4" id="itemsContainer">
            @foreach (var item in Model)
            {
                <!--item-->
                <div class="col item-card" data-name="@item.Name.ToLower()">
                    <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center fixed-height">
                        <a class="d-block rounded-3 overflow-hidden" href="#">
                            <img class="d-block mx-auto fixed-size" src="@Url.Content("~/uploaded_images/items/" + item.ItemImage)" alt="@(item.ItemImage)">
                        </a>
                        <a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">
                            <h4 class="text-center text-light pt-1">
                                <a class="nav-link" href="#">@item.Name</a>
                            </h4>
                            <p class="d-none d-md-block">@item.Description</p>
                            @if (item.IntialPrice != null)
                            {
                                <h3 class="text-center" style="color: #fd390e;">
                                    <s style="color: #9691a4 !important;">@item.IntialPrice</s> @item.FinalPrice
                                </h3>
                            }
                            else
                            {
                                <h3 class="text-center" style="color: #fd390e;">@item.FinalPrice</h3>
                            }
                        </a>
                        <div class="mt-2 d-flex justify-content-center">
                            <form asp-action="AddToFavourite" asp-controller="Favourite" method="post">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <button type="submit" class="btn btn-outline-light me-2 btn-fixed-height">
                                    <i class="fi-heart"></i> Wish List
                                </button>
                            </form>
                            <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <button class="btn btn-outline-light btn-fixed-height" type="submit">
                                    <i class="fi-shopping-cart"></i> Add to Cart
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <!--item-->
            }
        </div>
    </form>
</section>

<!-- JavaScript for dynamic search filter -->
<script>
    function filterItems() {
        var input, filter, cards, cardContainer, title, i;
        input = document.getElementById("searchBox");
        filter = input.value.toLowerCase();
        cardContainer = document.getElementById("itemsContainer");
        cards = cardContainer.getElementsByClassName("item-card");

        for (i = 0; i < cards.length; i++) {
            title = cards[i].getAttribute("data-name");
            if (title.includes(filter)) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>

<!-- CSS for fixed-size images, consistent card height, and button styles -->
<style>
    .fixed-size {
        width: 100%; /* Set to a fixed percentage of the card */
        height: 350px; /* Maintain a consistent height */
        object-fit: cover; /* Ensure the image covers the space proportionally */
    }

    .fixed-height {
        height: 600px; /* Ensure all cards have a fixed height to accommodate buttons */
    }

    .btn-outline-light {
        border-color: #fff;
        color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-outline-light:hover {
            background-color: #fff;
            color: #000;
        }

    .fi-heart, .fi-shopping-cart {
        margin-right: 5px;
    }

    .btn-fixed-height {
        height: 50px; /* Set a fixed height for both buttons */
    }
</style>
