@using RG_Store.DAL.Enums
@model RG_Store.BLL.ModelVM.UserVM.GetUserVM
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Profile </title>

    <link rel="stylesheet" media="screen" href="https://finder.createx.studio/css/theme.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" media="screen" href="https://finder.createx.studio/css/theme.min.css">
    <style>
        * {
            text-decoration: none !important;
        }

        body {
            background-color: #1f1b2d;
        }

        .myHover {
            color: #9691a4 !important;
        }

            .myHover:hover {
                background-color: transparent;
                color: white !important;
            }

        .makeMeOrange {
            color: #fd5631 !important;
        }

            .makeMeOrange:hover {
                color: #fd390e !important;
            }

        .makeMeOrangeBG {
            background-color: #fd5631 !important;
            border: none;
        }

            .makeMeOrangeBG:hover {
                background-color: #fd390e !important;
            }

        .navbar-scrolled {
            background-color: #1f1b2d !important;
        }

        s {
            text-decoration: line-through !important;
        }

        ::placeholder {
            color: #9691a4 !important;
        }

        input {
            color: white !important;
        }

        .socialMediaBG:hover {
            transition-duration: 500ms !important;
            background-color: white !important;
            .socialMedia

        {
            transition-duration: 500ms !important;
            color: #fd5631 !important;
        }

        }

        .socialMedia {
            position: relative;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            right: 100%
        }

        a:has(.appStore):hover {
            background-color: #fd390e !important;
            color: #fd5631 !important;
        }
    </style>

</head>
<body>
    <div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
        <!-- Breadcrumb-->
        <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="account" asp-action="profile">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
            </ol>
        </nav>

        <!-- Page content-->
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
                <div class="card card-body card-light border-0 shadow-sm pb-1 me-lg-1">
                    <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4">
                        <img class="rounded-circle" src="~/uploaded_images/users/@Model.ProfileImage" width="48" alt="@Model.ProfileImage">
                        <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
                            <h2 class="fs-lg text-light mb-0">@Model.UserName</h2>
                            <ul class="list-unstyled fs-sm mt-3 mb-0">
                                <li>
                                    <i class="fi-mail opacity-60 me-2"></i>@Model.Email
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-outline-light d-block d-md-none w-100 mb-3" href="#account-nav"
                       data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Menu</a>
                    <div class="collapse d-md-block mt-3" id="account-nav">
                        <div class="card-nav">
                            <a class="card-nav-link active" href="car-finder-account-info.html">
                                <i class="fi-user me-2"></i>Personal Info
                            </a>
                            <a class="card-nav-link" asp-controller="Account" asp-action="ChangePassword">
                                <i class="fi-lock me-2"></i>Password & Security
                            </a>
                            <a class="card-nav-link" href="/Order/Index">
                                <i class="fi-car me-2"></i>My Orders
                            </a>
                            <a class="card-nav-link" href="/Favourite/Index">
                                <i class="fi-heart me-2"></i>Wishlist<span class="badge bg-faded-light ms-2">4</span>
                            </a>
                            <a class="card-nav-link" href="/Account/LogOut">
                                <i class="fi-logout me-2"></i>Sign Out
                            </a>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- Content-->
            <div class="col-lg-8 col-md-7 mb-5">
                <form asp-controller="account" asp-action="Update" enctype="multipart/form-data">
                    <h1 class="h2 text-light">Personal Info</h1>
                    <div class="row pt-2">
                        <div class="col-lg-9 col-md-12 col-sm-8 mb-2 mb-m-4">
                            <div class="border border-light rounded-3 p-3 mb-4" id="personal-info">
                                <!-- Full Name -->
                                <div class="border-bottom border-light pb-3 mb-3">
                                    <label class="form-label fw-bold text-light">First Name</label>
                                    <input class="form-control form-control-light mt-3" type="text" value="@Model.FirstName" asp-for="FirstName">
                                </div>

                                <div class="border-bottom border-light pb-3 mb-3">
                                    <label class="form-label fw-bold text-light">Last Name</label>
                                    <input class="form-control form-control-light mt-3" type="text" value="@Model.LastName" asp-for="LastName">
                                </div>

                                <!-- Gender -->
                                <div class="border-bottom border-light pb-3 mb-3">
                                    <label class="form-label fw-bold text-light">Gender</label>
                                    <select  class="form-select form-select-light mt-3" asp-for="UserGender">
                                        @if (Model.UserGender == Gender.Male)
                                        {
                                            <option value="1" selected>Male</option>
                                            <option value="2">Female</option>
                                        }
                                        else
                                        {
                                            <option value="1">Male</option>
                                            <option value="2" selected>Female</option>  
                                        }
                                        
                                    </select>
                                </div>



                                <!-- Email -->
                            @*     <div class="border-bottom border-light pb-3 mb-3">
                                    <label class="form-label fw-bold text-light">Email</label>
                                    <input class="form-control form-control-light mt-3" type="email" asp-for=Email
                                           value="@Model.Email">
                                </div> *@

                                <!-- Upload Profile Picture -->
                                <div class="filepond--root file-uploader bg-faded-light" style="height: 160px;" enctype="multipart/form-data">
                                    <input type="file" accept="image/png,image/jpeg" asp-for="Image">
                                    <label class="text-light fw-bold opacity-70">
                                        <i class="fi-camera-plus fs-2 mb-2"></i><br>Change picture
                                    </label>
                                </div>

                                <div class="pt-4 pb-2 py-lg-5">
                                    <h6 class="text-light mb-2">Who can see my profile?</h6>
                                    <p class="fs-sm text-light opacity-70 mb-0">
                                        Your profile is private. No one else
                                        will see it until a reservation is confirmed.
                                    </p>
                                </div>
                            </div>

                            <!-- Action buttons-->
                            <div class="row">
                                <div class="col-lg-9">
                                   @*  <form asp-controller="Profile" asp-action="Update" method="post">
                                    </form> *@
                                    <button class="btn btn-primary" type="submit" >Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
