﻿@using RG_Store.BLL.ModelVM.UserVM
<!-- Full Page Sign Up -->
@model RegisterVM
<div class="container-fluid bg-dark text-light min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row mx-0 w-100" style="max-width: 950px;">
        <!-- Left Column -->
        <div class="col-md-6 border-end-md border-light p-4 p-sm-5 d-flex flex-column justify-content-center align-items-center">
            <h2 class="h3 mb-4 mb-sm-5">Join Finder.<br>Get premium benefits:</h2>
            <ul class="list-unstyled mb-4 mb-sm-5">
                <li class="d-flex mb-2">
                    <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light">Add and promote your listings</span>
                </li>
                <li class="d-flex mb-2">
                    <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light">Easily manage your wishlist</span>
                </li>
                <li class="d-flex mb-0">
                    <i class="fi-check-circle text-primary mt-1 me-2"></i><span class="text-light">Leave reviews</span>
                </li>
            </ul>
            <img class="d-block mx-auto" src="images/signup-dark.svg" width="344" alt="Illustration">
            <div class="text-light mt-sm-4 pt-md-3 text-center">
                <span class="opacity-60">Already have an account?</span>
                <a class="text-light" href="#signin-page">Sign in</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
            <a class="btn btn-outline-info w-100 mb-3" href="#">
                <i class="fi-google fs-lg me-1"></i> Sign up with Google
            </a>
            <a class="btn btn-outline-info w-100 mb-3" href="#">
                <i class="fi-facebook fs-lg me-1"></i> Sign up with Facebook
            </a>
            <div class="d-flex align-items-center py-3 mb-3">
                <hr class="hr-light w-100">
                <div class="text-light opacity-70 px-3">Or</div>
                <hr class="hr-light w-100">
            </div>
            <form class="needs-validation" novalidate asp-action="SignUp" asp-controller="Account">
                <div class="mb-4">
                    <label class="form-label text-light mb-2" for="signup-firstname">First Name</label>
                    <input class="form-control form-control-light" type="text" id="signup-firstname" asp-for="FirstName" placeholder="Enter your first name" required>
                    <div class="invalid-feedback">@Html.ValidationMessageFor(model => model.FirstName)</div>
                </div>
                <div class="mb-4">
                    <label class="form-label text-light mb-2" for="signup-lastname">Last Name</label>
                    <input class="form-control form-control-light" type="text" id="signup-lastname" asp-for="LastName" placeholder="Enter your last name" required>
                    <div class="invalid-feedback">@Html.ValidationMessageFor(model => model.LastName)</div>
                </div>
                <div class="mb-4">
                    <label class="form-label text-light mb-2" for="signup-username">User Name</label>
                    <input class="form-control form-control-light" type="text" id="signup-username" asp-for="UserName" placeholder="Enter your user name" required>
                    <div class="invalid-feedback">@Html.ValidationMessageFor(model => model.UserName)</div>
                </div>
                <div class="mb-4">
                    <label class="form-label text-light mb-2" for="signup-email">Email address</label>
                    <input class="form-control form-control-light" type="email" id="signup-email" asp-for="Email" placeholder="Enter your email" required>
                    <div class="invalid-feedback">@Html.ValidationMessageFor(model => model.Email)</div>
                </div>
                <div class="mb-4">
                    <label class="form-label text-light mb-2" for="signup-password">Password <span class="fs-sm opacity-50">min. 8 char</span></label>
                    <div class="password-toggle">
                        <input class="form-control form-control-light" type="password" asp-for="Password" id="signup-password" minlength="8" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                        <div class="invalid-feedback">@Html.ValidationMessageFor(model => model.Password)</div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg w-100" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>